* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "LetraLogo";
  src: url(fonts/LoveYaLikeASister-Regular.ttf);
}

:root {
  --color-1: #1d0a00;
  --color-2: #743414;
  --color-3: #8d4925;
  --color-4: #b96e48;
  --color-5: #e6966e;
}

header {
  background-color: var(--color-1);
  text-align: center;
  color: white;
}

#logo {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 20px;
}

#logo h1 {
  font-family: "LetraLogo";
  font-size: 50px;
  letter-spacing: 6px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  list-style: none;
  padding: 15px;
  margin: 5px;
}

li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

li:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}

/* ----------- SECCIÓN 1 ------------ */

#sec1 {
  background-image: url("img/pexels-photo-302899.webp");
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

#sec1 h1 {
  font-family: "Cedarville Cursive";
  font-size: 80px;
  padding-bottom: 20px;
}

#div1 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 60px 100px 100px 100px;
}

#div1 p,
#div1 h1 {
  margin: 0px auto 0px auto;
  width: 700px;
}

/* ----------- SECCION 2 ------------ */

#sec2 {
  background-color: var(--color-3);
  color: white;
  padding-bottom: 60px;
}
h2 {
  text-align: center;
  padding: 50px;
  font-size: 35px;
}
#sec2 article {
  width: 300px;
  margin-left: 25px;
  margin-right: 25px;
  margin: 0px 20px 20px 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

#sec2 article h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: #3f1500 2px solid;
}

#sec2 article h4 {
  padding-top: 5px;
  font-size: 17px;
}

#sec2 article p {
  padding-top: 5px;
  font-size: 13px;
}

#divArticulos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#sec2 article img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

/* ----------- SECCION 3 ------------ */

#sec3 {
  color: white;
  background-color: var(--color-5);
  padding-bottom: 70px;
}

#sec3 h2 {
  font-family: "Cedarville Cursive";
  font-size: 60px;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 10px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.collage-item {
  overflow: hidden;
}

.collage-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dos-columns {
  grid-column: span 2;
}

.tres-columns {
  grid-column: span 3;
}
.dos-rows {
  grid-row: span 2;
}
.tres-rows {
  grid-row: span 3;
}

/* ----------- SECCION 4 ------------ */

#sec4 {
  background-color: var(--color-4);
}

#sec4 h2 {
  color: white;
  font-size: 50px;
}

#ofertas {
  padding: 0px 100px;
}
.bigArticle {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #ffdfcf;
}

.bigArticle #imagen {
  background-color: #743414;
  width: 50%;
}
.bigArticle #imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#bigArticleInfo {
  width: 50%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 60px;
}

#bigArticleInfo * {
  margin-top: 20px;
}

#bigArticleInfo h3 {
  display: inline;
  font-size: 24px;
  margin-right: 20px;
}

#bigArticleInfo .tagDescuento {
  font-size: 14px;
}

#productoDescuento {
  display: flex;
  align-items: center;
  margin-top: 0px;
  padding-top: 0px;
}

#productoDescuento h3 {
  margin-top: 0px;
}

.tagDescuento {
  background-color: rgb(245, 243, 243);
  color: rgb(59, 53, 53);
  border-radius: 30px;
  display: inline-block;
  padding: 7px;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid grey;
  padding: 2px 15px;
  text-align: center;
}

th {
  background-color: rgb(230, 230, 230);
}

.btn-comprar {
  background-color: #838383;
  padding: 14px;
  color: white;
  display: inline-block;
  text-decoration: none;
}

/* ---- SubSECCION 4 ---- */

#subSec4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  border-top: #3f1500 4px solid;
  padding-bottom: 70px;
}
#subSec4 .tagDescuento {
  font-size: 10px;
  padding: 3px;
}
#subSec4 .btn-comprar {
  font-size: 13px;
}
#subSec4 h3 {
  color: white;
  font-size: 35px;
  padding: 50px;
}

#subSec4 h4 {
  font-size: 20px;
  font-weight: 700;
}

#article-container {
  display: flex;
}

#article-container article {
  margin: 0px 20px;
  display: flex;
  background-color: #ffdfcf;
  padding: 10px;
}

#article-container article img {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
}

.small-article-info * {
  margin-top: 5px;
}

.small-article-info .tagDescuento {
  margin-top: 0px;
}

/* ----------- SECCION 5 ------------ */

#sec5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  background-color: var(--color-5);
}

#sec5 h2 {
  padding: 0px;
  padding-bottom: 40px;
}
#sec5 form {
  border: 2px solid black;
  margin: 0px 200px;
}

#form-field-container {
  display: flex;
}

#form-izq {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#form-der {
  width: 50%;
  padding-left: 20px;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
}

form input,
form select,
form textarea {
  background-color: rgb(230, 230, 230);
  border: none;
  padding: 5px;
  width: 400px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
label {
  font-weight: 700;
  font-size: 14px;
}

form select {
  width: 50%;
  display: inline;
}
.select-checkbox-container {
  display: flex;
  margin-bottom: 10px;
}
input[type="submit"] {
  background-color: red;
}

/* ----------- FOOTER ------------ */

footer {
  background-color: var(--color-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer h1 {
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 18px;
}

#redes img {
  margin: 0px 5px;
}
